body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==== CUSTOM STYLES ==== */
h1 { font-size:2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }

.figure-caption {
  text-align: center;
  margin-top: 10px;
}

.flex-container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.flex-child {
  flex:1;
  width: 100%;
}

.header-overlay {
  padding: 1em;
  box-shadow: 0 0 600px 5px #007546 inset, 2px 2px 12px 1px #262626;
  color:#fff;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#carousel-block {
  position: relative;
}

#carousel-block img {
  width:100%;
}

.slide img {
  position: relative;
}

.arrows {
  position: absolute;
  z-index:2;
  font-size: 3rem;
  color: #444;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 0;
  right:0;
}

#arrow-left {
  cursor: pointer;
  margin-left:30px;
}
#arrow-right {
  cursor: pointer;
  margin-right:30px;
}

#arrow-left:hover, #arrow-left:focus, #arrow-left:active {
  color: #fff;
}

#arrow-right:hover, #arrow-right:focus, #arrow-right:active {
  color: #fff;
}

#about-block {
  padding: 3% 5%;
  position: relative;
}

.figure {
  display:flex;
  flex-direction: column;
  padding: 25px;
}

#spaceStation-block {
  background: #1D294D;
  padding:25px;
  color:#fff;
  position: relative;
  text-align: center;
}

#spaceStation-block .photo-credit {
  position: absolute;
  right: 0;
  bottom: 0;
}

#spaceStation-block .photo-credit small {
  color: #737373;
  padding:5px;
  display: none;
}

.coordinates {
  display: block;
}

.coordinates strong {
  font-size: 2rem;
  display: block;
}

#languages-block {
  padding: 0;
  position: relative;
}

#languages-block h2 {
  text-align:center;
  margin: 0;
  padding: 20px 0;
}

#languages-block .list-post-content {
  margin:0;
  padding:2em;
}

.badge-primary {
  float: right;
}

.languages {
  background-color: #003F26;
  color:#fef;
}

.img-container {
  background-color: #444d49;
  padding-bottom: 2px;
  height:495px;
}

.logo-parent img {
  max-width:560px;
  padding:40px 40px 0;
  width: 100%;
}

.logo-parent h4 {
  padding:20px 0;
  margin:0;
  background: #42594f;
}

#prev-experience {
  padding: 3% 5%;
  position: relative;
  background: #295743;
  color:#fff;
}

#prev-experience h2 {
  background-color: #286149;
  padding:5px;
}

#prev-experience p {
  padding-bottom: 0;
}

#footer-block {
  background-color: #005935;
  color: #fff;
  padding: 15px;
  position: relative;
}

#footer-block ul {
  padding:0;
  margin:0;
  text-align: center;
}

#footer-block ul li {
  margin: 0 10px;
  list-style-type:none;
}

#footer-block a {
  color: #fff;
  text-decoration: none;
}

#footer-block a:hover {
  color: #000;
}


/* ==== MEDIA QUERIES ==== */
@media screen and ( min-width: 600px ) {
    .header-overlay {
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .header-overlay h1 {
      margin-right: 15px;
    }

    #about-block .flex-child:first-of-type {
      flex-grow:2;
    }

    #spaceStation-block {
      background-image: url("/images/outer-space.jpg");
      box-shadow: 0 0 100px 50px #000 inset;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #spaceStation-block .photo-credit small {
      display: block;
    }

    .coordinates strong {
      display: inline-block;
    }

    #footer-block ul li {
      display:inline-block;
      padding:0;
    }
}

@media screen and ( min-width: 991px ) {
  .flex-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }

  #languages-block .flex-container {
    align-items: stretch;
  }

  .logo-parent img {
    max-width:450px;
    padding:40px 40px 15px;
  }
}